header {
  background-color: black;
  color: red;
  text-align: center;
}

body {
  background-color: red;
  text-align: center;
  font: arial;
}

a {
  color: red;
}

.one:link{
  text-decoration: none;
}

.one:visited{
  text-decoration: none;
}

.one:hover {
  text-decoration: underline;
}

div.courses{
  background-color: black;
  color: red;
  margin: 20px 150px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 400px) {
  img {
    width: 40%;
  }
}

.two {
  max-width: 100%;
  height: auto;
}

img.img{
  filter: invert(100%);
}
